.cards {
    margin-top: 28px;
    display: flex;
    gap: 36px;
    position: relative;
    justify-content: center;
}

.wrapBgImg {
    position: absolute;
    bottom: -10px;
    left: -201px;
    z-index: -1;
}