.header {
  position: relative;
  display: flex;
  height: 108px;
  width: 100%;
  max-width: 1508px;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  padding: 0 52px 28px;
}

.container {
  display: flex;
  gap: 56px;
}

.social_container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav_container {
  display: flex;
  height: 100%;
  gap: 16px;
}

.iconButton {
  position: absolute;
  top: 0;
  right: 0;
}

.wrap_phone {
  align-self: end;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.phone {
  font-weight: 600;
  font-size: 25px;
  line-height: 100%;
  text-align: center;
}

.recall {
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  text-align: end;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 6.5%;
}

.btn_burger {
  align-self: start;
}
