.card {
  width: 264px;
  height: 263px;
  background: #89a9bb;
  border-radius: 6px;
  text-align: center;
  color: #fdfdfd;
  font-size: 26px;
  box-shadow: 6px 6px 14.4px #2E3C4554;
  text-decoration: none;
}

.container_title {
  height: 70px;
  align-content: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: .2s;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
}

.card:hover {
  opacity: 1;
}

.card:hover .container_title {
  background-color: #FDFDFD;
  color: #89A9BB;
}